.btn {
    padding: .8rem 1.25rem;
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        padding: 1.1rem 1.9rem;
        font-size: 1.25rem;

        @mixin atSmall {
            font-size: 1rem;
        }
    }
}
