.footer {
    padding: .5rem 0;
    text-align: center;
    background-color: $mainBlue;
    color: white;

    &__text {
        margin-bottom: 1rem;
        display: block;

        @mixin atMedium {
            margin-bottom: 0;
            display: inline;
            margin-right: 1.4rem;
        }
    }
}