.primary-nav {

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        display: inline-block;
        list-style: none;

        &:not(:last-child) {
            padding-right: 20px;
        }

        @mixin atMedium {
            padding-right: 20px;
            display: block;
            float: left;
        }
    }


    a {
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        font-weight: 300;
        text-decoration: none;
        color: white;
        background-color: rgba(47, 85, 114, .3);

        @mixin atMedium {
            display: inline;
            margin-top: auto;
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;
        }
    }
}