.wrapper {
    padding: 0 18px;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;

    &--medium {
        max-width: 976px;
    }

    &--no-padding-until-medium {
        padding: 0;

        @mixin atMedium {
            padding: 0 18px;
        }
    }

    .wrapper { padding: 0;}

    &--b-margin {
        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 4rem;
        }
    }
}